@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--primaryColor: #731DD8;
--secondaryColor: #EE4266;
--baseColor: #FFFFFF;
}


body {
  
}


.glassmorphism{
  @apply rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-30
}
.active_btn{
  @apply  bg-[rgba(255,255,255,0.3)] rounded-md
}

.nav_link{
  @apply flex items-center hover:bg-[rgba(255,255,255,0.3)] hover:opacity-80 gap-4  justify-start text-white px-4 py-3 opacity-90 glassmorphism font-semibold
}
