@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: #731dd8;
  --secondaryColor: rgb(17 24 39);
  --baseColor: #ffffff;
}

body {
  background-color: white;
}

.glassmorphism {
  @apply rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-30;
}
.active_btn {
  @apply bg-[rgba(255,255,255,0.3)] rounded-md;
}

.nav_link {
  @apply flex items-center hover:bg-[rgba(255,255,255,0.1)] hover:opacity-90 gap-4 rounded-md justify-start text-white px-4 py-2.5 font-semibold;
}
