@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #fffdfc;
  --button-index: #f4f1ee;
  --cw: #000;
  --mark: #f9f7f6;
  --gray: #d6d6d6;
  --pattern: #f8f7f7;
  --light-gray: #dedede;
  --lighter-gray: #f5f5f5;
  --article-color: #545454;
  --header-bg: rgba(255, 255, 255, 0.8);
  --token: #666;
  --border-color: #eaeaea;
  --sidebar-tag: #efe9e4;
  --gray-alpha: #f6f4f06b;
  --sidebar-cta: #0b0c15;
  --nav-link: rgba(0, 0, 0, 0.5);
  --timeline: #e0e0e0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);

  color: #0b0c15;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
html {
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
::selection {
  background: #666;
  color: white;
}
::-moz-selection {
  background: #666;
  color: white;
}
main:before {
  background: #1b1b1b;
  content: "";
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(currentColor 1px, transparent 1px),
    linear-gradient(to right, currentColor 1px, transparent 1px);
  background-size: 94px 90px;
  transform: rotate(45deg);
  color: rgb(113 113 113 / 7%);
  position: fixed;
  z-index: -1;
  background-color: transparent;
  transition: all 0.5s linear;
}

main:after {
  background-image: radial-gradient(at 40% 40%, #1e90ff 0, transparent 50%),
    radial-gradient(at 90% 10%, #ff69b4 0, transparent 50%),
    radial-gradient(at 50% 95%, #00ffff 0, transparent 50%),
    radial-gradient(at 20% 30%, #32cd32 0, transparent 50%),
    radial-gradient(at 90% 90%, #ffff00 0, transparent 50%),
    radial-gradient(at 33% 50%, #ff4500 0, transparent 50%),
    radial-gradient(at 79% 53%, #800080 0, transparent 50%);
  position: fixed;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(100%);
  top: 0px;
  opacity: 0.1;
  transform: translateZ(0);
}

.glassmorphism {
  @apply rounded-lg bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-50 bg-[#d6d6d6];
}

@media screen and (max-width: 1280px) {
  .mobile_glassmorphism {
    @apply rounded-t-lg bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-50 bg-[#d6d6d6];
  }
}
.logo{
  @apply border-4 border-main px-2 rounded-full
}
.nav_link {
  @apply flex items-center hover:bg-[rgba(255,255,255,0.4)] hover:opacity-90 max-xl:hover:bg-transparent gap-4 rounded-lg justify-start text-main px-4 py-2.5 font-semibold;
}
.mobile_navbar{
  @apply cursor-pointer rounded-lg bg-white/60
}
.mobile_nav {
  @apply max-xl:w-11/12 max-xl:mx-auto;
}
.nav-container{
  @apply mobile_nav absolute top-4 xl:left-4 xl:min-h-[450px] xl:h-[95vh] max-xl:mx-auto max-xl:right-0 max-xl:left-0 glassmorphism z-10 text-main p-4 max-xl:p-2 
}
.text_link {
  @apply text-main font-bold hover:underline decoration-blue-900;
}
.title {
  @apply text-5xl font-black max-xl:text-4xl;
}
.btn {
  @apply hover:underline decoration-blue-900;
}
.flex-center{
  @apply flex justify-center items-center
}
.flex-between{
  @apply flex items-center justify-between
}
.footer{
  @apply max-xl:fixed bottom-0 flex-center max-xl:justify-between mobile_glassmorphism rounded-t-2xl w-full p-4 md:px-20 xl:gap-8 xl:mb-14
}

.backlay {
  margin: 0;
}
.backlay h1 {
  font-size: 29.42vmin;
  writing-mode: unset;
  letter-spacing: -0.3rem;
  white-space: pre;
  color: #f9f7f6;
  position: fixed;
  right: 0rem;
  opacity: 1;
  z-index: -1;
  bottom: 0px;
}
@media screen and (max-width: 900px) {
  .backlay h1 {
    font-size: 20vmin;
    bottom: 2rem;
  }
}
